#root {
  height: 100vh;
}

.contact {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10%;
  margin-top: 20px;
}

@media (max-width: 580px) {
  .contact {
    margin-left: 0;
  }
}
